@media only screen and (max-width: 700px) {
    /*For mobile phones*/
    
    #borderNameOfAuthor {
        width: 50%;
        font-size: 50%;
    }
    
    nav{
        border-top: 30px solid #808080; 
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
    }

    ul{
        margin-top: -25px;
    }

    #menu li a{
        font-size: 70%;
        margin: 3px;
    }

    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {

        height: 50%;
        margin: auto;
    }

    .carousel-control{
        height: 50%;
    }

    .carousel-caption{
        height: 50%;
        bottom: 100px;
        font-size: 
    }

    .carousel-caption h3,
    .carousel-caption p{

        font-size: 90%;
    }

    .carousel-indicators{
        bottom: 250px;
    }
    

}